body {
	width: 95%;
	margin: 5px auto;
	padding-top: 15px;
	background-image: url('/img/procesor.png');
	background-attachment: fixed;	
	opacity: 1;
}


.flex-column {
	width: 20%;
	float: left;
}

#content {
	border:  solid 0.5px #65686d;
	border-radius: 8px;
	width: 100%;
	padding: 10px;
	margin: 10px;
	float:left;
}


#content img {
	border-radius: 55%;
	padding: 0 10%;
}

#content p {
	padding-top: 10px;
	margin-bottom: 5px;
}

#content img.gallery{
	padding: 0 2%;
}



